.yesTableProject {
    padding: 156px 0;
    position: relative;
    background: linear-gradient(269deg, #fff 18%, #E4FAFF 50%);
    overflow: hidden;
    z-index: 6;
}

.bgOuterShape {
    position: absolute;
    top: 0;
    left: 0px;
    width: 669px;
    height: 981px;
    z-index: 1;
    pointer-events: none;
}

.shapeImg {
    object-fit: contain;
    object-position: left top;
}

.infoCol {
    padding-left: 40px;
    position: relative;
    z-index: 10;
}

.clientLogo {
    margin-bottom: 20px;
}

.logoWrapper {
    display: inline-block;
}

.logoImg {
    width: auto;
    height: auto;
    object-fit: contain;
}

.textContent p {
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 25px;
}

.textContent strong {
    color: #000;
    font-weight: 800;
}

.mockupWrapper {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockupImg {
    max-width: 140%;
    height: auto;
    transform: translateX(50px);
}

@media (max-width: 1600px) {
    .yesTableProject {
        padding: 80px 0;
    }

    .bgOuterShape {
        width: 500px;
        height: 735px;
        top: 30px;
    }

    .infoCol {
        padding-left: 20px;
    }

    .clientLogo {
        margin-bottom: 10px;
    }

    .textContent p {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .mockupImg {
        max-width: 100%;
        height: auto;
        transform: translateX(0px);
        object-fit: contain;
    }
}

@media (max-width: 1399px) {
    .yesTableProject {
        padding: 60px 0;
    }

    .bgOuterShape {
        width: 341px;
        height: 500px;
        top: 30px;
    }

    .infoCol {
        padding-left: 0px;
    }

    .logoWrapper {
        width: 120px;
        height: auto;
    }

    .textContent p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .mockupImg {
        max-width: 450px;
    }
}

@media (max-width: 1199px) {
    .yesTableProject {
        padding: 40px 0;
    }

    .bgOuterShape {
        width: 307px;
        height: 450px;
        bottom: 10px;
    }

    .logoWrapper {
        width: 120px;
    }

    .textContent p {
        font-size: 14px;
    }

    .mockupImg {
        max-width: 400px;
    }
}

@media (max-width: 991px) {
    .bgOuterShape {
        width: 260px;
        height: 380px;
        top: unset;
    }

    .logoWrapper {
        width: 120px;
    }

    .textContent p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .mockupWrapper {
        justify-content: start;
    }

    .mockupImg {
        max-width: 320px;
    }
}

@media (max-width: 767px) {
    .bgOuterShape {
        width: 240px;
        height: 350px;
    }

    .mockupImg {
        max-width: 300px;
    }
}

@media (max-width: 575px) {

    .bgOuterShape {
        width: 205px;
        height: 300px;
    }

    .mockupImg {
        max-width: 250px;
    }
}
