:root {
  /* Colors */
  --primary-color: #FE2400;
  --secondary-color: #FE2400;
  --accent-color: #73FE71;
  --success-color: #C37CDF;
  --danger-color: #05FDFC;
  --warning-color: #F9FB02;
  --light-color: #fff;
  --dark-color: #1a1a1a;
  --blue-color: #0B65DB;
  --light-gray-color: #F8F8F8;
  --bg-color: #E9E9E9;
  --ice-color: #F9FCFF;
  --deepsea-color: #063F4A;
  --dark-gray-color: #333333;


  /* Greys */
  --gray-100: #F7F7F7;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #525252;

  /* Typography */
  --font-size-base: 16px;
  --font-size-lg: 70px;
  --font-size-sm: 16px;
  --banner-heading-size: 65px;
  --banner-heading-line-height: 75px;

  /* Font Weight */
  --font-100: 100;
  --font-200: 200;
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;
  --font-800: 800;
  --font-900: 900;

  /* Transition */
  --cubic: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-base);
  color: var(--dark-color);
  overflow-x: hidden;
}

.container {
  max-width: 1460px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
  background: var(--light-color);
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

.combo_btn {
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btn,
.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none;
  outline: 0;
}


ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: var(--cubic);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

h1 {
  font-size: var(--banner-heading-size);
  line-height: var(--banner-heading-line-height);
  font-weight: var(--font-800);
}

h2 {
  font-size: 65px;
  letter-spacing: -3.1px;
  font-weight: var(--font-800);
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 24px;
  font-weight: var(--font-medium);
}

p {
  font-size: var(--font-size-base);
  line-height: 25px;
  font-weight: var(--font-regular);
}

.primarytxt {
  color: var(--primary-color);
  font-weight: 800;
}

.primarybg {
  background-color: var(--primary-color);
}

.secondarytxt {
  color: var(--secondary-color);
}

.secondarybg {
  background-color: var(--secondary-color);
}

.lighttxt {
  font-weight: 400;
}

.scroll_block {
  overflow: auto;
  padding-right: 10px
}

.scroll_block::-webkit-scrollbar {
  width: 1px
}

.scroll_block::-webkit-scrollbar-track {
  background: transparent;
}

.scroll_block::-webkit-scrollbar-thumb {
  background: transparent
}

.sec_padding {
  padding: 80px 0;
}

.no_border {
  border: none !important;
}

.break_line {
  display: block;
}

.my-tabs {
  display: none;
}

.my-tabs.current {
  display: block;
}

@media screen and (max-width:1600px) {
  :root {
    --font-size-base: 16px;
    --font-size-lg: 65px;
    --font-size-sm: 14px;
  }

  .container {
    max-width: 1320px !important;
  }

  .sec_padding {
    padding: 60px 0;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }
}

@media screen and (max-width:1399px) {
  :root {
    --font-size-base: 14px;
    --font-size-lg: 55px;
    --font-size-sm: 12px;
  }

  .container {
    max-width: 1140px !important;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }

  .sec_padding {
    padding: 40px 0;
  }
}

@media screen and (max-width:1199px) {
  :root {
    --font-size-lg: 50px;
  }

  .container {
    max-width: 960px !important;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 20px;
  }
}

@media screen and (max-width:991px) {
  :root {
    --font-size-lg: 40px;
  }

  .container {
    max-width: 720px !important;
  }

  h2 {
    font-size: 30px;
    letter-spacing: 0;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 17px;
  }
}

@media screen and (max-width:767px) {
  :root {
    --font-size-lg: 35px;
  }

  .container {
    max-width: 540px !important;
  }
}

@media screen and (max-width:575px) {
  :root {
    --font-size-lg: 25px;
  }

  h2 {
    font-size: 25px;
    letter-spacing: 0;
  }

  h3 {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }

  .combo_btn {
    margin-top: 15px;
    gap: 10px;
  }
}