.techStackSection {
    position: relative;
    padding: 80px 0;
    background-color: #fff;
    overflow: hidden;
}

.headerArea {
    text-align: center;
    margin-bottom: 60px;
}

.heading {
    font-weight: 800;
    color: #000;
    line-height: 1.1;
    margin-bottom: 10px;
}

.purpleText {
    color: var(--primary-color);
}

.tabsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 80px;
    display: none;
}

.tabBtn {
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid #000;
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.activeTab {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.tabBtn:hover:not(.activeTab) {
    background-color: rgba(106, 85, 255, 0.1);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.techGrid {
    margin-top: 40px;
    position: relative;
}

.techSwiper {
    padding: 20px 0 40px;
}

.techCard {
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.iconBox {
    margin-bottom: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.02);
}

.iconBox:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
}

.techIcon {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.techName {
    font-size: 24px;
    font-weight: 500;
    color: #666666;
}

@media (max-width: 1600px) {
    .techStackSection {
        padding: 60px 0;
    }

    .headerArea {
        margin-bottom: 30px;
    }

    .tabsWrapper {
        margin-bottom: 0px;
    }

    .tabBtn {
        padding: 10px 25px;
        font-size: 18px;
    }

    .techGrid {
        margin-top: 30px;
    }

    .techSwiper {
        padding: 20px 0;
    }

    .techName {
        font-size: 22px;
    }
}

@media (max-width: 1399px) {
    .techStackSection {
        padding: 40px 0;
    }

    .headerArea {
        margin-bottom: 15px;
    }

    .tabBtn {
        padding: 10px 25px;
        font-size: 18px;
    }

    .techGrid {
        margin-top: 25px;
    }

    .techSwiper {
        padding: 20px 0;
    }

    .techName {
        font-size: 20px;
    }
}

@media (max-width: 1199px) {
    .tabBtn {
        padding: 10px 25px;
        font-size: 18px;
    }

    .techName {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .tabBtn {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .techName {
        font-size: 20px;
    }
}